<p>error-page works!</p>

<ul>
  <li>
    <a routerLink="/auth/login">
      Ir a Login
    </a>
  </li>
  <li>
    <a routerLink="/auth/register">
      Ir a Registro
    </a>
  </li>
  <li>
    <a routerLink="/heroes/listing">
      Ir a Listing
    </a>
  </li>
  <li>
    <a routerLink="/heroes/add">
      Ir a Agregar
    </a>
  </li>
  <li>
    <a routerLink="/heroes/edit">
      Ir a Editar
    </a>
  </li>
  <li>
    <a routerLink="/heroes/search">
      Ir a Buscar
    </a>
  </li>
  <li>
    <a routerLink="/heroes/heroe">
      Ir a Heroes
    </a>
  </li>
</ul>